@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');


.footer {
  text-align: center;
  border-top: solid 1px #bbbdc0;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}